@import "tailwindcss";
@plugin "daisyui";


.active {
  @apply text-[#632EE3] border-b-3 border-[#632EE3];
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animate-spin-slow {
  animation: spin-slow 1s linear infinite;
}


@keyframes zoom-text {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  100% {
    transform: scale(2.5);  /* boro hobe */
    opacity: 1;
  }
}

.animate-zoom-text {
  animation: zoom-text 3s ease-in-out infinite;
}



