/* google font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.active {
  @apply text-[#632EE3] border-b-3 border-[#632EE3];
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animate-spin-slow {
  animation: spin-slow 1s linear infinite;
}


@keyframes zoom-text {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  100% {
    transform: scale(2.5);  /* boro hobe */
    opacity: 1;
  }
}

.animate-zoom-text {
  animation: zoom-text 3s ease-in-out infinite;
}



